@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(#111111, #000000);
    min-height: 100vh;
    color: white;
}

.-text-gradient {
    background: linear-gradient(to right, #32F3AE, #00E0FF);
    color: transparent;
    background-clip: text;
}

.-bg-gradient {
    background: linear-gradient(to right, #32F3AE, #00E0FF);
}

.-cta-gradient {
    background: linear-gradient(to right, #32F3AE, #00E0FF);
    transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
}

.-cta-gradient:hover {
    background: linear-gradient(to right, #32F3AE, #00E0FF);
    box-shadow: 0 4px 20px rgba(0, 224, 255, 1);
}

.-bg-simple-to-gradient:hover {
    background: linear-gradient(to right, #32F3AE, #00E0FF);
}

@keyframes fadeInOut {

    0%,
    20%,
    50%,
    70%,
    100% {
        opacity: 0;
    }

    25%,
    45%,
    75%,
    95% {
        opacity: 1;
    }
}

.widget-fade {
    animation: fadeInOut 30s infinite;
}