@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(#111111, #000000);
    min-height: 100vh;
    ;
}

.-text-gradient {
    background: linear-gradient(to right, #32F3AE, #00E0FF);
    color: transparent;
    background-clip: text;
}

@keyframes fadeInOut {

    0%,
    20%,
    50%,
    70%,
    100% {
        opacity: 0;
    }

    25%,
    45%,
    75%,
    95% {
        opacity: 1;
    }
}

.widget-fade {
    animation: fadeInOut 30s infinite;
}