@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
}

.gradient-bg {
    background-image: url('/gadient-bg.png');
    background-size: cover;
}

@keyframes fadeInOut {

    0%,
    20%,
    50%,
    70%,
    100% {
        opacity: 0;
    }

    25%,
    45%,
    75%,
    95% {
        opacity: 1;
    }
}

.widget-fade {
    animation: fadeInOut 30s infinite;
}